In [5]:
import numpy as np 
import pandas as pd

In [7]:
#widok całej tabeli
data_frame = pd.read_csv("all_energy_statistics.csv")
data_frame

,country_or_area,commodity_transaction,year,unit,quantity,quantity_footnotes,category
0,Austria,Additives and Oxygenates - Exports,1996,"Metric tons, thousand",5.0,NaN,additives_and_oxygenates
1,Austria,Additives and Oxygenates - Exports,1995,"Metric tons, thousand",17.0,NaN,additives_and_oxygenates
2,Belgium,Additives and Oxygenates - Exports,2014,"Metric tons, thousand",0.0,NaN,additives_and_oxygenates
3,Belgium,Additives and Oxygenates - Exports,2013,"Metric tons, thousand",0.0,NaN,additives_and_oxygenates
4,Belgium,Additives and Oxygenates - Exports,2012,"Metric tons, thousand",35.0,NaN,additives_and_oxygenates
...,...,...,...,...,...,...,...
1189477,Viet Nam,Electricity - total wind production,2012,"Kilowatt-hours, million",92.0,1.0,wind_electricity
1189478,Viet Nam,Electricity - total wind production,2011,"Kilowatt-hours, million",87.0,NaN,wind_electricity
1189479,Viet Nam,Electricity - total wind production,2010,"Kilowatt-hours, million",50.0,NaN,wind_electricity
1189480,Viet Nam,Electricity - total wind production,2009,"Kilowatt-hours, million",10.0,NaN,wind_electricity
1189481,Viet Nam,Electricity - total wind production,2008,"Kilowatt-hours, million",1.0,NaN,wind_electricity

In [8]:
#podstawowe info
data_frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1189482 entries, 0 to 1189481
Data columns (total 7 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   country_or_area        1189482 non-null  object
 1   commodity_transaction  1189482 non-null  object
 2   year                   1189482 non-null  int64
 3   unit                   1189482 non-null  object
 4   quantity               1189482 non-null  float64
 5   quantity_footnotes     163946 non-null   float64
 6   category               1189482 non-null  object
dtypes: float64(2), int64(1), object(4)
memory usage: 63.5+ MB

In [9]:
#podstawowe statystyki
#sprawdzic ujemne dane
data_frame.describe()

               year      quantity  quantity_footnotes
count  1.189482e+06  1.189482e+06            163946.0
mean   2.002852e+03  1.842648e+05                 1.0
std    7.167345e+00  1.585663e+07                 0.0
min    1.990000e+03 -8.643480e+05                 1.0
25%    1.997000e+03  1.400000e+01                 1.0
50%    2.003000e+03  1.890000e+02                 1.0
75%    2.009000e+03  2.265000e+03                 1.0
max    2.014000e+03  6.680329e+09                 1.0

In [10]:
#liczba unikalnych pozycji w kolumnach
n_country = data_frame["country_or_area"].nunique()
n_transaction = data_frame["commodity_transaction"].nunique()
n_unit = data_frame["unit"].nunique()
n_category = data_frame["category"].nunique()
print(f"Liczba krajów: {n_country}")
print(f"Liczba transakcji: {n_transaction}")
print(f"Liczba miar: {n_unit}")
print(f"Liczba kategorii: {n_category}")

Liczba krajów: 243
Liczba transakcji: 2452
Liczba miar: 6
Liczba kategorii: 71

In [11]:
data_frame["category"].unique()

array(['additives_and_oxygenates', 'animal_waste', 'anthracite',
       'aviation_gasoline', 'bagasse', 'biodiesel', 'biogases',
       'biogasoline', 'bitumen', 'black_liquor', 'blast_furnace_gas',
       'brown_coal_briquettes', 'brown_coal', 'charcoal', 'coal_tar',
       'coke_oven_coke', 'coking_coal', 'conventional_crude_oil',
       'direct_use_of_geothermal_heat',
       'direct_use_of_solar_thermal_heat',
       'electricity_net_installed_capacity_of_electric_power_plants',
       'ethane', 'falling_water', 'fuel_oil', 'fuelwood', 'gas_coke',
       'gas_oil_diesel_oil', 'gasoline_type_jet_fuel', 'gasworks_gas',
       'geothermal', 'hard_coal', 'heat', 'hydro', 'industrial_waste',
       'kerosene_type_jet_fuel', 'lignite', 'liquified_petroleum_gas',
       'lubricants', 'motor_gasoline', 'municipal_wastes', 'naphtha',
       'natural_gas_including_lng', 'natural_gas_liquids',
       'nuclear_electricity', 'of_which_biodiesel',
       'of_which_biogasoline', 'oil_shale_oil_sands',
       'other_bituminous_coal', 'other_coal_products',
       'other_hydrocarbons', 'other_kerosene', 'other_liquid_biofuels',
       'other_oil_products_n_e_c', 'other_recovered_gases',
       'other_vegetal_material_and_residues', 'paraffin_waxes',
       'patent_fuel', 'peat', 'peat_products', 'petroleum_coke',
       'refinery_feedstocks', 'refinery_gas', 'solar_electricity',
       'sub_bituminous_coal', 'thermal_electricity',
       'tide_wave_and_ocean_electricity', 'total_electricity',
       'total_refinery_output', 'uranium',
       'white_spirit_and_special_boiling_point_industrial_spirits',
       'wind_electricity'], dtype=object)

In [12]:
# druga wersja słownika
def mapping(el):
    wide_categories = {'additives_and_oxygenates': "Oil", 'animal_waste': "Biofuels_and_Waste", 'anthracite': "Coal_Peat_and_Oil_Shale",
           'aviation_gasoline': "Oil", 'bagasse': "Biofuels_and_Waste", 'biodiesel': "Biofuels_and_Waste", 'biogases': "Biofuels_and_Waste",
           'biogasoline': "Biofuels_and_Waste", 'bitumen': "Oil", 'black_liquor': "Biofuels_and_Waste", 'blast_furnace_gas': "Natural_Gas_Manufactured_Gas_and_Recovered_Gas",
           'brown_coal_briquettes': "Coal_Peat_and_Oil_Shale", 'brown_coal': "Coal_Peat_and_Oil_Shale", 'charcoal': "Biofuels_and_Waste", 'coal_tar': "Coal_Peat_and_Oil_Shale",
           'coke_oven_coke': "Coal_Peat_and_Oil_Shale", 'coking_coal': "Coal_Peat_and_Oil_Shale", 'conventional_crude_oil': "Oil",
           'direct_use_of_geothermal_heat': "Electricity_and_Heat",
           'direct_use_of_solar_thermal_heat': "Electricity_and_Heat",
           'electricity_net_installed_capacity_of_electric_power_plants':"Electricity_and_Heat",
           'ethane': "Oil", 'falling_water': "Hydraulic", 'fuel_oil': "Oil", 'fuelwood': "Biofuels_and_Waste", 'gas_coke': "Coal_Peat_and_Oil_Shale",
           'gas_oil_diesel_oil': "Oil", 'gasoline_type_jet_fuel': "Oil", 'gasworks_gas': "Natural_Gas_Manufactured_Gas_and_Recovered_Gas",
           'geothermal': "Green", 'hard_coal': "Coal_Peat_and_Oil_Shale", 'heat': "Electricity_and_Heat", 'hydro': "Green", 'industrial_waste': "Biofuels_and_Waste",
           'kerosene_type_jet_fuel': "Oil", 'lignite': "Coal_Peat_and_Oil_Shale", 'liquified_petroleum_gas': "Oil",
           'lubricants': "Oil", 'motor_gasoline': "Oil", 'municipal_wastes': "Biofuels_and_Waste", 'naphtha': "Oil",
           'natural_gas_including_lng': "Natural_Gas_Manufactured_Gas_and_Recovered_Gas", 'natural_gas_liquids': "Oil",
           'nuclear_electricity': "Nuclear", 'of_which_biodiesel': "Oil",
           'of_which_biogasoline': "Oil", 'oil_shale_oil_sands': "Coal_Peat_and_Oil_Shale",
           'other_bituminous_coal': "Coal_Peat_and_Oil_Shale", 'other_coal_products': "Coal_Peat_and_Oil_Shale",
           'other_hydrocarbons': "Oil", 'other_kerosene': "Oil", 'other_liquid_biofuels': "Biofuels_and_Waste",
           'other_oil_products_n_e_c': "Oil", 'other_recovered_gases': "Natural_Gas_Manufactured_Gas_and_Recovered_Gas",
           'other_vegetal_material_and_residues': "Biofuels_and_Waste", 'paraffin_waxes': "Oil",
           'patent_fuel': "Coal_Peat_and_Oil_Shale", 'peat': "Coal_Peat_and_Oil_Shale", 'peat_products': "Coal_Peat_and_Oil_Shale", 'petroleum_coke': "Oil",
           'refinery_feedstocks': "Oil", 'refinery_gas': "Oil", 'solar_electricity': "Green",
           'sub_bituminous_coal': "Coal_Peat_and_Oil_Shale", 'thermal_electricity': "Thermal_Electricity",
           'tide_wave_and_ocean_electricity': "Green", 'total_electricity': "Electricity_and_Heat",
           'total_refinery_output': "Oil", 'uranium': "Biofuels_and_Waste",
           'white_spirit_and_special_boiling_point_industrial_spirits': "Oil",
           'wind_electricity': "Green"}
    wide_cat = wide_categories.get(el)
    return wide_cat

In [13]:
#lista krajów UE
EU_countries = ["Austria", "Belgium", "Czechia", "Finland", "Greece", "Hungary", "Italy", "Netherlands", "Romania", "Slovakia", "United Kingdom", "Bulgaria", "Croatia", "Lithuania", "Poland", "Portugal", "Spain", "Sweden", "Germany", "Denmark", "Ireland", "Latvia",  "Luxembourg", "Estonia", "Germany, Fed. R. (former)", "Malta", "Slovenia", "Cyprus", "France"]

In [14]:
#wszystko dla krajów UE
df_obj = data_frame.loc[data_frame["country_or_area"].isin(EU_countries)]
df_obj

,country_or_area,commodity_transaction,year,unit,quantity,quantity_footnotes,category
0,Austria,Additives and Oxygenates - Exports,1996,"Metric tons, thousand",5.0,NaN,additives_and_oxygenates
1,Austria,Additives and Oxygenates - Exports,1995,"Metric tons, thousand",17.0,NaN,additives_and_oxygenates
2,Belgium,Additives and Oxygenates - Exports,2014,"Metric tons, thousand",0.0,NaN,additives_and_oxygenates
3,Belgium,Additives and Oxygenates - Exports,2013,"Metric tons, thousand",0.0,NaN,additives_and_oxygenates
4,Belgium,Additives and Oxygenates - Exports,2012,"Metric tons, thousand",35.0,NaN,additives_and_oxygenates
...,...,...,...,...,...,...,...
1189431,United Kingdom,Electricity - total wind production,1994,"Kilowatt-hours, million",342.0,NaN,wind_electricity
1189432,United Kingdom,Electricity - total wind production,1993,"Kilowatt-hours, million",218.0,NaN,wind_electricity
1189433,United Kingdom,Electricity - total wind production,1992,"Kilowatt-hours, million",40.0,NaN,wind_electricity
1189434,United Kingdom,Electricity - total wind production,1991,"Kilowatt-hours, million",11.0,NaN,wind_electricity
1189435,United Kingdom,Electricity - total wind production,1990,"Kilowatt-hours, million",9.0,NaN,wind_electricity

In [15]:
#zamiana "Germany, Fed. R. (former)" na "Germany"
df_obj["country_or_area"].replace(to_replace = "Germany, Fed. R. (former)", value = "Germany", inplace = True)

/Users/annawozniak/opt/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:6746: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [16]:
#rozdzielenie kolumny commodity_transaction na commodity i transaction
split_col = df_obj["commodity_transaction"].str.split(" - ", expand=True)
df_obj["commodity"] = split_col[0]
df_obj["transaction"] = split_col[1]

/Users/annawozniak/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/annawozniak/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [17]:
#usunięcie kolumny quantity_footnotes
df_obj.drop(["quantity_footnotes"], axis = 1, inplace = True)

/Users/annawozniak/opt/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [18]:
# dodanie kolumny z szerszą kategorią
df_obj["wide_category"] = df_obj["category"].apply(mapping)

/Users/annawozniak/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [23]:
df_obj.to_csv("energy_statistics_UE_v2.csv")